@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
   box-sizing: border-box;
  
}

body{
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden; 
}

#navbar{
   display: flex;
   position: sticky;
   background: #333;
   top: 0;
   width: 100%;
   text-decoration: none;
   color:#fff;
   justify-content:space-around;
   z-index: 1;
   padding: 1rem;
  
  
  }

h1{
  margin: 10px; 
}
.box{
   background: #f4adf4;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40rem;
   height: 20rem;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
   transform: translateX(200%);
   transition: transform 0.4s ease;
}
.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.text-center {
   text-align: center;
 }
 

.box:hover{
 background: #333;
 border: solid greenyellow;
}

.box:nth-of-type(even) {
   transform: translateX(-200%);
}

.box.show {
   transform: translateX(0);
}

.box h2 {
   font-size: 10px;
   padding: 10px;
}
.btn{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   left: 10%;
   top: 5%;
   transform: translateX(-50%);
   text-decoration: none;
   color: #d7fd03;
   border: #fff solid 0.1rem;
   font-size: 1rem;
   font-weight: bold;
   text-transform:capitalize;
   width: 5rem;
   padding: 0.5rem;
}
.btn:hover{
   background: #f4adf4;
   color:#333;
}


a{text-decoration: none;}

#navbar ul{
   display: flex;
   align-items: center;
   list-style: none;
}

#navbar ul li a {
   color: #fff;
   padding: 0.75rem;
   margin: 0 0.1rem 0 0.1rem;
   
}

#navbar ul li a:hover{
   background: #f4adf4;
   border-radius: 10px;
   color:#333;

}

#navbar ul li a img:hover{
   background: #f4adf4;
   padding: 0.5rem;
   border-radius: 10px;

}
.text_primary{
   color:aqua;
}
.l-heading {
   font-size: 4rem;
   margin-bottom: 0.75rem;
   line-height: 1.1;
 }

 .bg-dark {
   background: #333;
   color: #fff;
 }
 .container {
   max-width: 1100px;
   margin: auto;
   padding: 0 2rem;
   overflow: hidden;
 }